a{
    text-decoration: none;
}
@font-face {
    font-family: "Myriad Pro Regular";
    src: url("../fonts/Myriad Pro Regular.ttf");
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.text-logo{
    font-family: "Myriad Pro Regular";
    font-size: 80px;
    text-align: left;
}
.black-text{
    color: #000;
}
.blue-text {
    color: #4BCAFF;
}
header{
    margin: 0 auto;
}
.head-menu {
    background-color: #35444F;
    width: 1281px;
    font-family: "Myriad Pro Regular";
    font-size: 24pt;
    color: #FFFFFF;
    margin-top: 51px;
    margin-bottom: 51px;
    text-align: center;
}
.horizontal li{
    display: inline-block;
    padding: 19px;
    border: solid 1px #35444F;
}
.horizontal li:hover{
    background-color: #222F3A;
    border: solid 1px white;

}
.left-menu{
    display: inline-block;
    width: 344px;
    position: absolute;
    border: solid 1px #35444F;
    font-family: "Myriad Pro Regular";
    font-size: 30px;
    color: #495863;
    text-align: left;
}
.left-menu-points li{
    padding: 25px 44px;
    overflow: hidden;
}
.left-menu-5 li:hover{
    background-color: #DBDBDB;
    color: #35444F;
    padding-left: 80px;
}
.container-scale{
    display: inline-block;
    border: solid 1px #35444F;
    margin-left: 393px;
    margin-right: 0px;
    width: 885px;
    height: 529px;
}
.main-img{
    padding: 75px 0;
}
.scale{
    overflow: hidden;
    text-align: center;
    width: 885px;
    height: 529px;
    transition: all 1s ease-out;
}
.scale:hover{
    transform: scale(1.1);
}
.content-rus{
    margin-top: 50px;
    width: 815px;
    font-family: "Myriad Pro Regular";
    font-size: 18px;
    text-align: left;
    margin-left: 425px;
}
.content-lat{
    padding-top: 30px;
    width: 820px;
    font-family: "Myriad Pro Regular";
    font-size: 18px;
    text-align: left;
    margin-left: 425px;
}
.footer-container{
    margin-top: 51px;
    height: 69px;
    background-color: #B4B7BA;
}
.footer-part{
    display: inline-block;
}
.footer-menu li {
    display: inline-block;
    font-size: 28px;
    font-family: "Myriad Pro Regular";
    padding-left: 30px;
    margin: 22px auto;
    border-bottom: 1px solid #B4B7BA;
}
.copyright{
    font-size: 24px;
    padding-left: 200px;
    display: inline-block;
    font-family: "Myriad Pro Regular";
    text-align: right;
    color: #010101;
}
.footer-menu li span:hover{
    color: #4288A9;
    border-bottom: 1px solid #4288A9;
}